<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/styles.css">

    <title>CryptoSpotter | Quick Cryptocurrency Price Chart</title>
  </head>
  <body>
