<%- include("partials/header") -%>

<div class="main-body-wrapper">
  <div class="logo-wrapper">
    <h1 class="site-logo">crypto|<span class="logo-bold">spotter</span></h1>
  </div>
</div>

<%- include("partials/footer") -%>
