<%- include("partials/header") -%>


<div class="logo-wrapper">
  <h1 class="site-logo">crypto|<span class="logo-bold">spotter</span></h1>
</div>

<div class="prices-box">

</div>




<%- include("partials/footer") -%>
