<%- include("partials/header") -%>


<div class="logo-wrapper">
  <h1 class="site-logo">
    <a href="/api">
      crypto|<span class="logo-bold">spotter</span>
    </a>
  </h1>
</div>


<div class="prices-box">
  <p>Name</p>
  <hr class="price-divider">

</div>




<%- include("partials/footer") -%>
