body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.main-body-wrapper {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #000CF4, #345CE4, #0DA7AD);
  background-size: 150% 150%;
  animation: backgroundAnimation 4.5s ease-in-out infinite;
  text-align: center;
}

.logo-wrapper {
  padding-top: 1rem;
  text-align: center;
}

.site-logo {
  font-family: "Quicksand-Light";
  font-weight: 300;
  font-size: 5rem;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.site-logo a {
  color: #ffffff;
}

.logo-bold {
  font-family: "Quicksand-Bold";
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.prices-box {
  font-family: "OpenSans-Bold", sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
  background-color: #ffffff;
  width: 50%;
  height: 20%;
  margin: auto;
  margin-top: 6rem;
  padding-top: 0.15rem;
  border-radius: 1rem;
  filter: drop-shadow(0rem 0.25rem 0.3rem rgba(0, 0, 0, 0.25));
}

.price-divider {
  background-color: #BDBDBD;
  border: none;
  width: 95%;
  height: 1px;
}

.footer {
  font-family: "Quicksand-Light", sans-serif;
  font-size: 0.8rem;
  color: #ffffff;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
